<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <application>
        <receiver android:exported="true" android:name="com.mumble.mbautomation.AlarmReceiverScheduledNotifications" />
    </application>
</manifest>
